<head>
    <title>Motivation</title>
    @*<script src="~/Scripts/animatedbackground.js"></script>*@
</head>
<style>
        body {
            background-image: url('http://www.pixelstalk.net/wp-content/uploads/2016/06/HD-Wallpapers-Gif-Download.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 100%;
        }

    </style>
<body>
    <h1 style="color: rebeccapurple">Contact our team</h1>
    <hr />
    <big style="color: coral"><p>Doroteya Doncheva: +359883594444</p></big>
    <hr />
    <big style="color: coral"><p>Veselin Georgiev: +359884957832</p></big>
    <hr />
    <big style="color: coral"><p>Yordan Stefanov: +359885172942</p></big>
    <hr />
    <big style="color: coral"><p>Mihael Ashdzhiyan: +359874309817</p></big>
    <hr />
    <big style="color: coral"><p>Our Email: flex07@gmail.com</p></big>


</body>
    @*<div id="gradient"/>
    <style>
        	body{
   background-color: #000000;
   background-size: 600% 600%;
   padding: 0px;
   margin: 0px;
 }

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;

}*@
    @*</style>*@
<footer id="footer">
    <hr />
    <p style="color:rebeccapurple"> &copy; @DateTime.Now.Year - Flex 07</p>
</footer>
